<h1>ツイおtー男解析！</h1>

<%= link_to '解析', get_tweets_key_phrases_path %>

<a href="https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=<%= current_user.nickname %>" target="_blank">かいせき！</a>
